body {
    font-family: Kodchasan, sans-serif;
    background: linear-gradient(to top, #c9eaf8 0%, #a7c0d9 100%);
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    width: 300px;
    margin: auto;
}

.setup-block {
    background-color: #74b9ff;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.setup-block h2 {
    font-size: 18px;
    margin-top: 0;
}

.setup-block ul {
    list-style: none;
    padding: 0;
}

.setup-block ul li {
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 16px;
}

h1 {
    color: #2d3436;
    text-align: center;
}
@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    button {
        padding: 10px 15px;
        font-size: 16px;
    }
}
