body {
    font-family: Kodchasan, sans-serif;
    background: linear-gradient(to top, #c9eaf8 0%, #a7c0d9 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 300px;
    padding: 10px;
}

.logo img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 22px;
    margin: 20px 0 10px;
}

p {
    color: #333;
    font-size: 18px;
}

button {
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #f0f0f0;
}

/* Responsive styling for smaller screens */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    button {
        padding: 10px 15px;
        font-size: 16px;
    }
}
