.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-group button {
    background-color: #74b9ff;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
}

.button-group button:hover {
    background-color: #0984e3;
}

.container {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #2d3436;
    margin-bottom: 20px;
}
