body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #c9eaf8 0%, #a7c0d9 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    width: 90%; /* Adjust based on your preference */
    max-width: 600px; /* Maximum width of the container */
}

.container {
    width: 100%;
    padding: 20px; /* Adds padding inside the container */
    box-sizing: border-box; /* Includes padding in width calculation */
    display: flex;
    align-items: center;
    justify-content: start;
}    

.button-container {
    display: flex; 
    flex-direction: column;    
    justify-content: space-between; /* Distributes space between the child elements */
    width: 100%; /* Takes the full viewport width */
    padding: 20px; /* Padding around the container */
    box-sizing: border-box; /* Includes padding in the width calculation */
    
}

.button-group {
    flex: 1; /* Each button group takes equal space */
    padding: 5px; /* Optional: Adds padding around each button for spacing */
}

.category-button {
    background-color: #74b9ff; /* Light blue color for the button */
    color: white; /* White text */
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    width: 100%; /* Each button stretches to fill its container */
    border-radius: 30px; /* Rounded edges */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.category-button:hover {
    background-color: #539ecd; /* Slightly darker blue on hover */
}
h1 {
    font-size: 24px;
    color: #2d3436;
    margin-bottom: 20px;
}
@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    button {
        padding: 10px 15px;
        font-size: 16px;
    }
}
